.DLButton {    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: rgb(0, 129, 6);
    color: rgb(255, 255, 255);
    border-radius: 28px;
    padding: 1vw;
    border: 0px;
    transition: 300ms;
    font-size: 200%;
    text-decoration: none;
}

.DLButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 129, 6);
    padding: 2vw;
    box-shadow: 0px 0px 18px -4px rgb(0, 158, 8);
    font-size: 300%;
    margin-top: 25vw;
    cursor: pointer;
}   

.DLButton:active {
    transition: none;
    background-color: black;
    color: red;
    box-shadow: 0px 0px 18px -4px rgb(255, 0, 0);
}

.topnav {
  background-color: rgba(68, 68, 68, 0.233);
  overflow: hidden;
  border-radius: 20px ;
  backdrop-filter: blur(10px);
}

.topnav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

body {
    background-image: url("bliss1080.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;

}

.news {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color: white;
  margin-left: 6vw;
  font-size: 2vw;
}

.title {
  font-weight: bolder;
  margin-left: -3vw;
  font-size: 4vw;
}
